{% extends 'bare_base.html' %}
{% load compress %}

{% block head_includes %}
  {% block head_includes_css %}
     <link href='http://fonts.googleapis.com/css?family=Galindo' rel='stylesheet' type='text/css'>
     {% compress css %}
     <link href="/static/css/bootstrap.min.css" rel="stylesheet"/>
      <style>
          body {
              padding-top: 59px;
              padding-bottom: 40px;
          }
      </style>
     <link href="/static/css/bootstrap-responsive.min.css" rel="stylesheet"/>
     <link href="/static/css/jquery-ui-1.8.17.custom.css" rel="stylesheet"/>
     <link href="/static/css/jquery.pnotify.default.css" rel="stylesheet"/>
     <link href="/static/css/my.css" rel="stylesheet"/>
     {% endcompress %}
  {% endblock head_includes_css %}
  {% block head_includes_css_extra %}{% endblock head_includes_css_extra %}

  {% block head_includes_js %}
  <script>
   window.Pilotfish || ((Pilotfish = function() { Pilotfish.q.push(arguments); }).q = []);
  </script>
  <script src="/static/js/modernizr-2.6.1-respond-1.1.0.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.17/jquery-ui.min.js"></script>
  {% compress js %}
  <script src="/static/js/underscore-1.2.3.js"></script>
  <script src="/static/js/backbone-0.5.3.js"></script>
  <script src="/static/js/ICanHaz-0.9.js"></script>
  <script src="/static/js/jquery.pnotify-1.1.0.js"></script>
  <script src="/static/js/my.js"></script>
  <script src="/static/js/models.js"></script>
  {% endcompress %}
  {% endblock head_includes_js %}
  {% block head_includes_js_extra %}{% endblock head_includes_js_extra %}

  {% block head_misc %}
    <meta name="keywords" content="embarassing pictures, embarassing pics"/>
    <meta name="description" content="upload embarassing pictures for other strangers to see"/>
  {% endblock head_misc %}
  {% block head_misc_extra %}{% endblock head_misc_extra %}

  {% include 'head_tags.html' %}
{% endblock head_includes %}

{% block bare_content %}
        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Aboinga</a>
                    <div class="nav-collapse collapse">
                        <ul class="nav">
                            <li class="active"><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Actons <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="/remove">Removal request</a></li>
                                </ul>
                            </li>
                        </ul>
<!--
                        <form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="Email">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Sign in</button>
                        </form>
-->
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>


            <!-- Main hero unit for a primary marketing message or call to action -->
            <div class="hero-unit">
                {% block content %}{% endblock content %}
            </div>
        </div>
            <footer>
            </footer>
<script src="/static/js/bootstrap.min.js"></script>
{% endblock bare_content %}
