{% extends 'bare_base.html' %}
{% load compress %}


{% block head_includes %}
  {% block head_includes_css %}
     {% compress css %}
     <link href="/static/css/jquery.jgrowl.css" rel="stylesheet"/>
     <link href="/static/css/jquery.tipTip-1.3.css" rel="stylesheet"/>
     <link href="/static/css/my.css" rel="stylesheet"/>
     {% endcompress %}
  {% endblock head_includes_css %}
  {% block head_includes_css_extra %}{% endblock head_includes_css_extra %}

  {% block head_includes_js %}
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
  {% compress js %}
  <script src="/static/js/underscore-1.2.3.js"></script>
  <script src="/static/js/backbone-0.5.3.js"></script>
  <script src="/static/js/ICanHaz-0.9.js"></script>
  <script src="/static/js/jquery.jgrowl-1.2.5.js"/></script>
  <script src="/static/js/jquery.tipTip-1.3.js"/></script>
  <script>
    jQuery(document).ready(function(){
        jQuery("img[title]").tipTip();
    });
  </script>
  <script src="/static/js/my.js"></script>
  <script src="/static/js/models.js"></script>
  {% endcompress %}
  {% endblock head_includes_js %}
  {% block head_includes_js_extra %}{% endblock head_includes_js_extra %}

  {% block head_misc %}
    <meta name="keywords" content="embarassing pictures, embarassing pics"/>
    <meta name="description" content="upload embarassing pictures for other strangers to see"/>
  {% endblock head_misc %}
  {% block head_misc_extra %}{% endblock head_misc_extra %}

  {% include 'head_tags.html' %}
{% endblock head_includes %}

{% block bare_content %}
<div id="all_content">
  <div id="content">
    {% block content %}{% endblock content %}
  </div><!-- #content -->
</div><!-- #all_content -->
{% endblock bare_content %}
