{% extends 'base.html' %}
{% load verbatim %}

{% block content %}
<div id="momentContainer">
  <div id="uploadContainer">
    <link rel="stylesheet" href="http://upload.aboinga.com/jquery.fileupload-ui.css">
    Upload yours. Browse or Drag n' Drop.<br />
    <input id="fileupload" type="file" name="files[]" multiple="true"/>
    <div class="fileupload-buttonbar">
	<div class="progressbar fileupload-progressbar" style="display:none"><div style="width:0%;"></div></div>
    </div>
    <script src="http://upload.aboinga.com/vendor/jquery.ui.widget.js"></script>
    <script src="http://upload.aboinga.com/jquery.fileupload.js"></script>
    <script>
    $(function () {
	$('#fileupload').fileupload({
	    dataType: 'json',
	    url: 'http://upload.aboinga.com/php/',
	    limitConcurrentUploads: 2,
	    limitMultiFileUploads: 4,
	    done: function (e, data) {
		$.each(data.result, function (index, file) {
		    $.ajax({
			type: 'POST',
			url: "/api/v1/moment/upload/",
			data: { "file": file.name },
			success: window.fetchMoments
		    });
		});
	    },
            // Callback for global upload progress events:
            progressall: function (e, data) {
                $('.fileupload-progressbar div').css(
                    'width',
                    parseInt(data.loaded / data.total * 100, 10) + '%'
                );
	    },
            // Callback for uploads start, equivalent to the global ajaxStart event:
            start: function () {
                $('.fileupload-progressbar div').css('width', '0%');
                $('.fileupload-progressbar').fadeIn();
            },
            // Callback for uploads stop, equivalent to the global ajaxStop event:
            stop: function () {
                $('.fileupload-progressbar').fadeOut()
            },
            
	});
    });
    </script>
  </div><!-- #uploadContainer -->

  <div id="momentHeader">Recent moments</div>
  <div id="moments"></div>
</div><!-- #momentContainer -->

{% verbatim %}
<script id="momentSummary" type="text/html">
<li class="moment" data-id="{{id}}">
	<img src="{{ photo }}"/><br />
	Uploaded <span title="{{created_at}}">{{ created_at_ago }}</span><br />
	[ <a class="flag">Flag</a> ]
</li>
</script>
{% endverbatim %}

<script src="/static/js/home.js"></script>
<script>home();</script>

{% endblock content %}
