{% extends 'base.html' %}
{% load compress %}
{% load verbatim %}

{% block content %}
<link rel="stylesheet" href="http://upload.aboinga.com/jquery.fileupload-ui.css">
<div id="status" style="display:none"></div>
<div id="momentContainer">
  <div id="momentHeader"></div>
  <div id="moments"></div>
  <div id="uploadContainer">
    Upload your embarassing pictures to be rated. Browse or Drag n' Drop.<br />
    <input id="fileupload" type="file" name="files[]" multiple="true"/>
    <div class="fileupload-buttonbar">
	<div class="progressbar fileupload-progressbar" style="display:none"><div style="width:0%;"></div></div>
    </div>
    <!--
    Visible to:<br />
    <input type="radio" name="public" value="1" checked="true"/>Everyone
    <input type="radio" name="public" value="0"/>Only people who know the url
    <br />
    <br />
    Around for:<br />
    <input type="radio" name="expires_at" value="" checked="true"/>ever
    <input type="radio" name="expires_at" value="1 day"/>a day
    <input type="radio" name="expires_at" value="1 week"/>a week
    <input type="radio" name="expires_at" value="1 month"/>a month
    -->

  </div><!-- #uploadContainer -->

</div><!-- #momentContainer -->

{% verbatim %}
<script id="momentSummaryTemplate" type="text/html">
<li class="moment" id="moment_{{id}}" >
	<div class="momentCaptions"></div>
	<div class="momentActions">
	  <img class="action rate" title="Forgettable" data-id="{{id}}" data-rating="1" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Inconsequential" data-id="{{id}}" data-rating="2" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Eventful" data-id="{{id}}" data-rating="3" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Noteworthy" data-id="{{id}}" data-rating="4" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Significant" data-id="{{id}}" data-rating="5" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Remarkable" data-id="{{id}}" data-rating="6" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Exceptional" data-id="{{id}}" data-rating="7" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Monumental" data-id="{{id}}" data-rating="8" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Epic" data-id="{{id}}" data-rating="9" src="/static/img/rating_star_empty.gif"/>
	  <img class="action rate" title="Legendary" data-id="{{id}}" data-rating="10" src="/static/img/rating_star_empty.gif"/>
	  &nbsp;
	  <img class="action flag" title="Flag as inappropriate" data-id="{{id}}" src="/static/img/flag_blue.png">
	  <img class="action delete" title="Take it down" data-id="{{id}}" src="/static/img/delete.png">
	  <a href="{{permalink}}"><img title="Permanent Link" data-id="{{id}}" src="/static/img/link.png"></a>
	</div>
	<a href="{{permalink}}"><img class="photo" src="{{ photo }}"/></a><br />
	<div class="uploadedInfo">Uploaded <span title="{{created_at}}">{{ created_at_ago }} by {{upload_ip}}</div>

	<div class="newCaption" style="clear:both">
        <input data-moment-id="{{id}}" maxlength="60" type="text" placeholder="Caption this picture..." style="width: 250px;"/>
    </div>

</li>
</script>

<script id="momentCaptionTemplate" type="text/html">
	<div class="momentCaption">
        <h3>{{text}}</h3>
    </div>
</script>
{% endverbatim %}
<script src="http://upload.aboinga.com/vendor/jquery.ui.widget.js"></script>
<script src="http://upload.aboinga.com/jquery.fileupload.js"></script>
{% compress js %}
<script src="/static/js/home.js"></script>
{% endcompress %}

{% endblock content %}
